@import 'reference.less';

.wrap {
  .mw; .w(140rem);
  margin: 0 auto;
  .pad(@m);
  .of(hidden);
  --gap: 2rem;
  .fs(0);
} 

.innerWrap {
  .mar(0 auto);
  .dsp(flex); flex-wrap: wrap;
  .w; .mw(100rem);

  @media screen 
    and (min-device-width: 1200px) 
    and (max-device-width: 1600px) 
    and (-webkit-min-device-pixel-ratio: 1) { 
    .mw(120rem);
  }

  @media only screen 
    and (min-device-width : 768px) 
    and (max-device-width : 1024px) {
      .w(85rem);
    }
}

.image {
  .mt(@m);
  width: 66%;
} 

.categoryImage {
  .w;
}

.categoryIcon {
  .abs; .l; .b; .w(5rem);
  .mar(@m); .pad(@s);
  .bg(@lgrey);
}

.card {
  .w(calc(50% ~'-' 2rem));
  .va(top);
  .bd(2px solid @mlgrey);
  .ib;
  .mar(1rem);
  .bg(white);
  .pad(@m);
  text-align: center;
  cursor: pointer;
  .lh(1.2em);

  &:hover {
    border-color: @blue;
    color: @blue;
  }
}

.cardTitle {
  .fs(@h3); .lh(1.2em);
}