@import 'reference.less';

.header {
  .ta(center);
  .dsp(flex); .aic; .jc(center);
  .pad(@m);
  flex-shrink: 0;
}

.logo {
  .w(@xl);
}

.logoContainer {
  .bg(none);
}

.logoIsActive {
  .cur(pointer);
  
  &:hover {
    transform: scale(1.05);
  }
}

.title {
  .fs(@h1);
}

.wideHeader {
  display: flex;
  .aic;
  .bdb(@bd solid @mlgrey);
  .bg(white);
  .pad(0 @m 0 0);
  .h(@headerHeight);

  .logo {
    width: @l;
    align-self: center;
  }

  .logoContainer {
    .w(@viewerNavWidth);
    .mar(@m 0);
    .bdr(@bd solid @mlgrey);
  }

  .title {
    .ml(@m);
  }
}

.secondaryNav {
  .dsp(flex); .jcsb; flex-grow: 1;
}

.categorySelect {
  .dsp(flex); .aic;
}

.categoryIcon {
  .h(3rem);
}

.categoryItem {
  .pad(@xs); 
  .bg(@lgrey);
  .cur;

  &:hover {
    .bg(darken(@lgrey,5%));
  }

  &+.categoryItem {
    .ml(@xs);
  }
}

.categorySelectDisabledItem {
  .cur(not-allowed);
}
 
