@import 'vars.less';

.container {
  .of(hidden);
  flex-grow: 1;
  .dsp(flex);
}

.modelDescription {
  .w(50rem); 
  .abs; .r; .t; .z(10);
  .pad(@m);
  .bg(fade(white,75%));
  .fs(@p);
  .lh(1.2em);
}

.iframe {
  width: 100%;
  height: 100%; 
}

.viewToggle {
  .abs; 
  .r(-@bd); .b(-@bd);
  .fs(@p);
  .bd(@bd solid @blue); .bg(white);
}

.viewToggleItem {
  .ib; 
  .pad(1em);
  .cur(pointer);

  &+.viewToggleItem {
    .bdl(@bd solid @blue);
  }
}

.selectedViewToggleItem {
  .bg(@blue); .c(white);
}