@import 'vars.less';

.container {
  .w; .h; .ml(auto); .mw(150rem);
}

.viewer {
  width: 100%;
  padding-bottom: 56.25%;
  overflow: hidden;
}

.modelDescription {
  .w(50rem); 
  .abs; .r; .t; .z(10);
  .pad(@m);
  .bg(fade(white,75%));
  .fs(@p);
  .lh(1.2em);
}

.iframeContainer {
  .w; .pb(56.25%);
}

.iframe {
  width: 100%;
  height: 100%;
  .abs;
  .t; .l;
}

.viewToggle {
  .abs; 
  .r; .b;
  .fs(@p);
  .bd(@bd solid @blue); .bg(white);
}

.viewToggleItem {
  .ib; 
  .pad(1em);
  .cur(pointer);

  &+.viewToggleItem {
    .bdl(@bd solid @blue);
  }
}

.selectedViewToggleItem {
  .bg(@blue); .c(white);
}